@import './color.scss';
@import './rwd.scss';

.window {
  height: 100vh !important;
  width: 100vw !important;
  background-color: black !important;
  position: fixed !important;
  z-index: 99999999999999 !important;
}
.bg {
  margin: 0 auto;
  max-width: 1920px;
  position: relative;
  background-image: url('./../image/poker/bg.jpg');
  // background-color: rgb(71, 55, 67);
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  // background-attachment: fixed;
  padding: 0;
  // opacity: 0.8;
}

button {
  cursor: pointer;
}

:deep(.hand-card-box) {
  &.self-box {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    padding: 5px;
    margin-bottom: 5px;
    .bank-box {
      justify-content: center;
    }
    .count {
      font-size: 1.2rem;
      color: white;
      align-items: center;
      padding: 0px 10px;
      border-radius: 8px;
      background-color: rgb(62, 87, 146);
      border: 2px solid rgba(255, 255, 255, 0.5);
      box-shadow: 2px 2px 4px rgba(38, 12, 99, 0.8);
    }
  }

  &.players {
    position: absolute;
    text-wrap: nowrap;
    &:nth-child(1) {
      top: 50%;
      left: 100px;
      transform: translateY(-50%);
      // width: 50px;
    }
    &:nth-child(2) {
      top: 150px;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &:nth-child(3) {
      top: 50%;
      right: 100px;
      transform: translateY(-50%);
    }
    .bank-box {
      img {
        max-width: 20px;
      }
      .icon {
        margin-right: 10px;
      }
    }
    .info-box {
      color: $text;
      .name {
        font-size: 1.4rem;

        // text-align: center;
        font-weight: bold;
        // background-color: red;
        max-width: 150px;
      }
      .chips {
      }
    }
    .coin-box {
      margin-bottom: 10px;
      .item {
        img {
          max-width: 25px;
        }
      }
    }

    .count {
      font-size: 1.2rem;
      color: white;
      align-items: center;
      padding: 8px 10px;
      border-radius: 100%;
      background-color: rgb(62, 87, 146);
      border: 2px solid rgba(255, 255, 255, 0.5);
      position: absolute;
      z-index: 1;
      top: 50%;
      transform: translateY(-50%);
      box-shadow: 2px 2px 4px rgba(38, 12, 99, 0.8);
    }
  }

  .hand-cards {
    transition: transform 0.4s;
    position: relative;
    .hand-card {
      margin-left: 10px;
      &:first-child,
      &:nth-child(2) {
        margin-left: unset;
      }
      transition: transform 0.2s;

      &.self {
        $cox: 10;

        // position: absolute;
        // left: 50%;
        // top: 50%;
        // transform: translate(-50%, -50%);
        img {
          min-width: 150px;
        }
      }
      img {
        min-width: 90px;
        max-width: 90px;
      }
    }
  }
  .bank-box {
    margin-bottom: 10px;
    img {
      max-width: 30px;
      animation: three_d 5s infinite;
    }
  }
}

:deep(.game-ctrl) {
  width: 100%;
  position: absolute;
  // right: 0;
  left: 0;
  bottom: 0px;
  padding: px 0 15px 0;
  // transform: translate(-50%, -50%);
  background-color: rgb(44 9 77);
  animation: card-shdow 5s infinite;
  .content {
    flex: 1;
  }
  .flex {
    justify-content: center;
  }
  .hit {
    &.content {
      width: 100%;
      flex: 1;
      button {
        margin: 0 10px;
        min-width: 100px;
        // height: 25px;
        // border-radius: 100%;
        border-radius: 8px;
        padding: 15px;
        font-size: 1.2rem;
        animation: hit-shdow 10s infinite;

        &.hit {
          background-color: rgb(212, 192, 64);
        }
        &.stand {
          background-color: rgb(152 138 188);
        }

        border: 0;
      }
      .flex {
        height: 100%;
        align-items: center;
      }
    }
  }
  .coin {
    &.content {
      flex: 2;
      .coin-box {
        // display: flex;
        .item {
          cursor: pointer;
          margin: 15px;
          display: flex;
          img {
            max-width: 50px;
          }
          button {
            min-width: 60px;
            text-align: center;
            // display: flex;
            align-items: center;
            padding: 0 10px;
            border-radius: 8px;
            border: none;
            &.reset {
              background-color: rgb(145, 112, 215);
              color: white;
            }
            &.bet {
              font-size: 1rem;
            }
            &.bet-max {
              font-size: 0.9rem;
            }
            &.bet,
            &.bet-max {
              background-color: rgb(215, 220, 170);
              font-weight: bold;
            }
          }
        }
      }
    }
  }
  .info {
    &.content {
      flex: 1;
      .info-box {
        margin-right: 15px;
        margin-left: 15px;
        width: 100%;
        align-items: center;

        // margin: 0 auto 15px auto;
        .info {
          $betColor: rgb(107, 51, 132);
          text-align: center;
          flex: 1;
          display: flex;
          border: 2px solid $betColor;
          text-wrap: nowrap;
          &:nth-child(1) {
            border-radius: 4px 0 0 4px;
          }
          &:nth-child(2) {
            border-radius: 0 4px 4px 0;
          }
          // box-shadow: 4px 2px 6px rgba(225, 212, 181, 0.2);

          .title {
            padding: 10px 5px;
            background-color: $betColor;
            color: white;
            font-size: 0.5rem;
            flex: 2;
          }
          .num {
            flex: 3;
            // width: 100%;
            justify-content: center;
            color: $text;
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
  .game-info {
    background-color: rgb(67 23 109);
    text-align: center;
    color: $text;
    font-size: 0.9rem;
    padding: 2px 0;
    .item {
      $spacing: 8px;
      margin: 0 $spacing;
      &:nth-child(2) {
        padding: 0 $spacing;
        margin: 0;
        border-left: 1px solid $text;
      }
    }
  }
}

:deep(.card-shdow) {
  overflow: hidden;
  animation: card-shdow 5s infinite;
  border-radius: 0.3rem;
}

.snatch-bank {
  position: fixed;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  z-index: 999;

  button {
    position: relative;
    border: none;
    margin: 0 auto;
    cursor: pointer;
    background-color: $text;
    padding: 15px 40px;
    border-radius: 8px;
    border: unset;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: 4px 4px 8px rgba($color: $text, $alpha: 0.4);
    font-size: 2rem;
    &::after,
    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: -5;
      animation: scale-ani 1.2s infinite;
      border-radius: 8px;
      background-color: $text;
    }
    &::before {
      animation-delay: 0.2s;
    }
  }
}

.undo {
  cursor: not-allowed !important;
  opacity: 0.1;
}

@keyframes card-shdow {
  0% {
    box-shadow: 0px 0px 8px rgb(222, 237, 135);
  }
  25% {
    box-shadow: 0px 0px 8px rgba(192, 248, 142, 0.4);
  }
  50% {
    box-shadow: 0px 0px 8px rgb(69, 165, 233);
  }
  75% {
    box-shadow: 0px 0px 8px rgba(102, 69, 233, 0.4);
  }
  100% {
    box-shadow: 0px 0px 8px rgb(208, 233, 69);
  }
}

@keyframes hit-shdow {
  0% {
    box-shadow: 0px 0px 6px rgb(237, 135, 135);
  }
  25% {
    box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.4);
  }
  50% {
    box-shadow: 0px 0px 6px rgb(233, 69, 124);
  }
  75% {
    box-shadow: 0px 0px 6px rgba(94, 233, 69, 0.4);
  }
  100% {
    box-shadow: 0px 0px 6px rgb(237, 135, 135);
  }
}

@keyframes scale-ani {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 1;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 0;
  }
  75% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }
}

@keyframes three_d {
  0% {
    transform: rotate3d(0, 0, 0, 0turn);
  }
  50% {
    transform: rotate3d(0, 2, 0, 0.5turn);
  }
  100% {
    transform: rotate3d(0, 2, 0, 1turn);
  }
}
