$text: rgb(198, 190, 149);
$shadowcolor: rgb(2, 29, 29);
$titlColor: rgb(50, 50, 50);
$mainColor: rgb(33, 76, 106);

$agree: rgb(118, 168, 118);
// $cencel: rgb(168, 134, 118);

// $text_default_title: rgb(102, 102, 102);
$text_default_title: rgb(80, 80, 80);
$bg_light: rgb(247, 247, 247);

$border_style_lightDark: rgb(121, 121, 121);
$border_style_dark: rgb(70, 70, 70);

// BTN
$cancel_btn: rgb(203, 91, 91);
$agree_btn: #7ad97a;

$bg_pevent: rgba(0, 0, 0, 0.6);
