$text: rgb(198, 190, 149);
$shadowcolor: rgb(2, 29, 29);
$titlColor: #ccae73;
$mainColor: rgb(18 63 69);

$agree: rgb(118, 168, 118);

$text_default_title: rgb(102, 102, 102);
$bg_light: rgb(247, 247, 247);

$border_style_lightDark: rgb(121, 121, 121);
$border_style_dark: rgb(70, 70, 70);
