@import './color.scss';
@import './rwd.scss';

.game-container {
  // position: relative;
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: #1e183f;
  // overflow: hidden;
  .game-info {
    width: 200px;
    color: $text;
    position: absolute;
    top: 30px;
    left: 20px;
    font-size: 1.5rem;
  }
  .current-card {
    // position: relative;
    color: $text;
    width: calc(100% - 30px);
    max-width: 600px;
    // left: 50%;
    // transform: translate(-50%, -50%);
    margin: 100px auto 0 auto;
    background-color: rgba(28, 32, 77, 0.242);
    box-shadow: -4px -4px 20px rgba($color: rgb(70 109 125), $alpha: 0.6),
      4px 4px 20px rgba($color: rgb(70 109 125), $alpha: 0.6);
    border-radius: 5px;
    padding: 15px;
    @include sm {
      margin: 80px auto 0 auto;
      width: calc(100% - 15px);
      padding: 15px 10px;
    }
    .flex {
      flex-wrap: wrap;
      justify-content: center;
    }
    .title {
      margin-bottom: 15px;
    }
    .card-box {
      position: relative;
      margin: 0 10px 10px 10px;
      @include min-sm {
        max-width: 80px;
      }
      @include sm {
        flex: 1;
        // max-width: 70px;
        margin: 0 2px 2px 2px;
      }
      &.wait {
        opacity: 0.2;
      }
      .card-num {
        p {
          font-size: 2rem;
        }
      }
    }
  }
}
#hand-card {
  overflow: hidden;
  // position: absolute;
  max-width: 500px;
  padding: 0 15px;
  width: 100%;
  margin: 30px auto 0 auto;
  // left: 50%;
  // transform: translateX(-50%);
  bottom: 0;

  .card-container {
    margin-top: 25px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 250px;
    @include sm {
      height: 220px;
    }
    .card-box {
      position: absolute;
      transition: transform 0.2s;
      left: 50%;
    }
  }
  .card-play {
    margin-bottom: 50px;
    text-align: center;
    button {
      &:first-child {
        margin-bottom: 10px;
      }
      @include xs {
        width: calc(100% - 20px);
        margin: 0;
      }
    }
    .disabled {
      cursor: not-allowed;
      opacity: 0.4;
    }
    #draw {
      h2 {
        color: $text;
        margin-bottom: 20px;
      }
    }
  }
}

.card-style {
  border: 2px solid rgb(121, 111, 98);
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  .card-bg {
    max-width: 130px;
  }
  .card-num {
    position: absolute;
    left: 50%;
    width: 80%;
    height: 50%;
    top: 15px;
    border-radius: 4px;
    transform: translateX(-50%);
    // background-color: rgba(255, 237, 219, 0.7);
    p {
      font-size: 4rem;
      text-align: center;
      color: rgb(223, 174, 109);
      font-weight: bold;
      text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
      &.large {
        font-size: 3rem;
      }
    }
  }
}

.name {
  position: fixed;
  left: 0;
  bottom: 0;
  top: unset;
  z-index: 1;
  @include sm {
    height: 65px;
  }
  &.user-container {
    background-color: rgba(255, 255, 255, 0.1);
  }
  > .content {
    position: unset;
  }
  :deep(.content) {
    bottom: 5px;
    top: unset;
    h2 {
      font-size: 1rem;
    }
  }
}

.transition {
  background-color: rgba(12, 41, 85, 0.9);
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 999;
  .title {
    h2 {
      font-size: 1.8rem;
      color: $text;
    }
  }
}

.next-container {
  border-radius: 8px;
  // background-color: rgb(222, 222, 222);
  width: calc(100% - 60px);
  padding: 15px 30px;
  max-width: 1200px;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: $text;
  .msg-box {
    word-wrap: break-word;
    margin: 15px 0 40px 0;
    text-shadow: 3px 3px 3px rgba(255, 213, 151, 0.2);
  }
  .countDown {
    position: relative;
    .title {
      font-size: 1.4rem;
      flex: 5;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .time {
      // background-color: blue;
      width: 50px;
      height: 50px;
      border-radius: 100%;
      font-size: 3rem;
      margin: 20px auto 0 auto;
      // margin: 0 auto;
      color: rgb(55, 247, 180);
      font-weight: bold;
      text-shadow: 10px 3px 8px rgba(0, 0, 0, 0.4),
        4px 4px 2px rgba(0, 0, 0, 0.2);
    }
    margin: 15px 0;
  }
}

#dart {
  width: 100%;
  max-width: calc(100% - 60px);
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  text-align: center;

  img {
    margin: 0 auto;
    width: 100%;
    max-width: 200px;
    margin-bottom: 15px;
    @include sm {
      max-width: 150px;
    }
  }
  .title {
    margin-bottom: 20px;
    color: $text;
    font-size: 1.5rem;
  }
  .click-btn {
    margin-top: 35px;
    @include xs {
      button:first-child {
        margin-bottom: 20px;
      }
    }
    > p {
      margin-bottom: 15px;
      color: $text;
    }
  }
}

#gameover {
  position: fixed;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  max-width: 600px;
  width: calc(100% - 30px);
  text-align: center;
  @include sm {
    top: 50%;
  }

  div.flex {
    align-items: center;
    justify-content: center;
  }

  .title {
    text-align: center;
    text-transform: uppercase;
    h2 {
      font-size: 4rem;
      @include sm {
        font-size: 2.5rem;
      }
    }
  }
  .container {
    color: $text;
    width: 100%;
    background-color: rgb(56, 85, 112);
    padding: 25px;
    border-radius: 8px;
    margin-top: 50px;
    @include sm {
      padding: 10px;
      margin-top: 15px;
    }
  }
  .options {
    .item-box {
      &:first-child {
        margin-top: 20px;
        @include sm {
          margin-top: 10px;
        }
      }
      margin-bottom: 20px;
      @include sm {
        margin-bottom: 10px;
      }
      .item-title {
        font-size: 1.5rem;
        @include sm {
          font-size: 1.2rem;
        }
        text-transform: uppercase;
      }
      .item-content {
        font-size: 2rem;
        font-weight: bold;
        @include sm {
          font-size: 1.5rem;
        }
      }
    }
  }
  img {
    width: 100%;
    max-width: 50px;
  }
  .click-btn button {
    margin-top: 30px;
    margin-bottom: 20px;
    max-width: 300px;
    min-width: 100px;
    width: 60%;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.5rem;
    @include sm {
      margin-top: 15px;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 1.2rem;
    }
  }
}

.click-btn {
  &.unclick {
    button {
      cursor: default;
    }
  }
  button {
    cursor: pointer;
    background-color: rgb(224, 216, 204);
    padding: 10px 15px;
    border-radius: 4px;
    border: unset;
    font-size: 1rem;
    font-weight: bold;
    margin: 0 15px;
    box-shadow: 4px 4px 8px rgba($color: $shadowcolor, $alpha: 0.4);
    &.agree,
    &.reject {
      position: relative;
      &::before,
      &::after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: -5;
        animation: moving 1.2s infinite;
        border-radius: 4px;
      }
      &::before {
        animation-delay: 0.2s;
      }
      &.disabled {
        background-color: rgb(124, 124, 124);
      }
    }
    &.reject {
      background-color: rgb(182, 87, 87);
      &::before,
      &::after {
        background-color: rgb(182, 87, 87);
      }
    }
    &.agree {
      background-color: $agree;
      &::before,
      &::after {
        background-color: $agree;
      }
    }
  }
}

.game_info {
  position: absolute;
  right: 20px;
  top: 20px;
  color: $text;
  img {
    max-width: 30px;
  }
  .dart {
    margin-top: 5px;
  }
  .img-box {
    margin-right: 5px;
  }
  .num-box {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@keyframes moving {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 1;
  }
  80% {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0);
  }
}
