@import './color.scss';

.game-container {
  position: relative;
  height: 100vh;
  .game-info {
    width: 200px;
    color: $text;
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 1.5rem;
  }
  .current-card {
    position: absolute;
    top: 20%;
    color: $text;
    width: 100%;
    max-width: 600px;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    // height: 300px;
    background-color: rgba(28, 32, 77, 0.242);
    box-shadow: inset 4px 4px 4px rgba($color: $shadowcolor, $alpha: 0.4),
      8px 8px 8px rgba($color: $shadowcolor, $alpha: 0.6);
    border-radius: 5px;
    padding: 15px;
    .flex {
      flex-wrap: wrap;
    }
    .title {
      margin-bottom: 15px;
    }
    .card-box {
      width: 80px;
      position: relative;
      margin: 0 15px 15px 15px;
      .card-num {
        p {
          font-size: 2rem;
        }
      }
    }
  }
}
#hand-card {
  overflow: hidden;
  position: absolute;
  max-width: 500px;
  padding: 0 15px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  .card-container {
    margin-top: 25px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 300px;
    .card-box {
      position: absolute;
      transition: transform 0.2s;
      left: 50%;
    }
  }
  .card-play {
    margin-bottom: 50px;
    text-align: center;
    button {
      cursor: pointer;
      // background-color: unset;
      background-color: rgb(224, 216, 204);
      padding: 15px;
      border-radius: 4px;
      border: unset;
      font-size: 1rem;
      font-weight: bold;
      margin: 0 15px;
    }
    #draw {
      h2 {
        color: $text;
        margin-bottom: 20px;
      }
    }
  }
}

.card-style {
  border: 2px solid rgb(121, 111, 98);
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  .card-bg {
    max-width: 150px;
  }
  .card-num {
    position: absolute;
    left: 50%;
    width: 80%;
    height: 50%;
    top: 15px;
    border-radius: 4px;
    transform: translateX(-50%);
    // background-color: rgba(255, 237, 219, 0.7);
    p {
      font-size: 4rem;
      text-align: center;
      color: rgb(223, 174, 109);
      font-weight: bold;
      text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
    }
  }
}
.name {
  position: fixed;
  right: 20px;
  bottom: 20px;
  top: unset;
  > .content {
    position: unset;
  }
}
#transition {
  background-color: rgba($color: $mainColor, $alpha: 0.2);
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 999;
  .t-container {
    border-radius: 8px;
    background-color: rgb(222, 222, 222);
    width: calc(100% - 60px);
    padding: 15px 30px;
    max-width: 1200px;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    .msg-box {
      text-align: center;
      font-size: 1.4rem;
      word-wrap: break-word;
      margin: 15px 0 40px 0;
    }
    .countDown {
      position: relative;
      .title {
        font-size: 1.2rem;
        flex: 5;
        display: flex;
        align-items: center;
        justify-content: end;
        padding-right: 15px;
      }
      .time {
        // background-color: blue;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        font-size: 2rem;
        text-align: center;
        // margin: 0 auto;
        color: rgb(180, 90, 78);
        font-weight: bold;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
      }
      margin: 15px 0;
    }
  }
}

.game_info {
  position: absolute;
  right: 20px;
  top: 20px;
  color: $text;
  img {
    max-width: 40px;
  }
}
