.lobby-container {
  display: flex;
  margin: 0 auto;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: calc(100% - 60px);
  max-width: 1400px;
}
@media (max-width: 991px) {
  .lobby-container {
    width: calc(100% - 15px);
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .lobby-container {
    margin-top: 28px;
  }
}
@media (min-width: 577px) {
  .lobby-container {
    margin-top: 17px;
  }
}

.room-container {
  padding: 17px 0;
  width: calc(100% - 15px);
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 576px) {
  .room-container {
    flex: unset;
    padding: 17px 10px;
  }
}
@media (min-width: 769px) {
  .room-container {
    flex: 3;
  }
}
@media (max-width: 991px) {
  .room-container {
    width: calc(100% - 10px);
  }
}
.room-container .page-room {
  width: 100%;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .room-container .page-room.flex {
    display: unset;
  }
}
.room-container .room-box {
  flex-wrap: wrap;
  width: 100%;
}
.room-container .room-box.exist .room-layout .img-box .right,
.room-container .room-box.exist .room-layout:hover .img-box .right {
  transition: 0.4s;
}
.room-container .room-box.exist .room-layout:hover .room-content.active {
  cursor: pointer;
}
.room-container .room-box.exist .room-layout:hover .room-content.active .img-box .right {
  transform: rotate(5deg) translateY(-60%);
}
@media (min-width: 769px) {
  .room-container .room-box {
    width: 50%;
  }
}
@media (max-width: 399px) {
  .room-container .room-box {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .room-container .room-box {
    width: 33.3%;
  }
}
.room-container .room-box .room-layout {
  padding-left: 10px;
  margin-right: 10px;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .room-container .room-box .room-layout {
    padding-left: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
  }
}
.room-container .room-box .room-layout .room-content {
  cursor: no-drop;
  position: relative;
  opacity: 0.4;
}
.room-container .room-box .room-layout .room-content.active {
  opacity: 1;
}
.room-container .room-box .room-layout .room-content .content {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(80, 80, 80);
  max-width: 50%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
@media (max-width: 576px) {
  .room-container .room-box .room-layout .room-content .content {
    margin-top: 1px;
    font-size: 1rem;
  }
}
.room-container .room-box .room-layout .room-content .content .title {
  font-weight: bold;
  font-size: 1.3rem;
}
.room-container .room-box .room-layout .room-content .content .soon {
  font-weight: 600;
  font-size: 1rem;
}
.room-container .room-box .room-layout .room-content .content .players {
  margin-top: 8px;
  font-size: 0.8rem;
  letter-spacing: 5px;
}
@media (max-width: 576px) {
  .room-container .room-box .room-layout .room-content .content .players {
    margin-top: 1px;
  }
}
.room-container .room-box .room-layout .room-content .content div {
  width: 100%;
}
.room-container .room-box .room-layout .room-content .img-box {
  background-color: #f7f7f7;
  border: 5px solid rgb(110, 110, 110);
  height: 80px;
  width: 100%;
  border-radius: 8px;
}
@media (max-width: 576px) {
  .room-container .room-box .room-layout .room-content .img-box {
    height: 70px;
  }
}
.room-container .room-box .room-layout .room-content .img-box .bg {
  padding-right: 15px;
}
.room-container .room-box .room-layout .room-content .img-box .right {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  width: 100%;
  max-width: 100px;
  right: -10px;
}
@media (max-width: 768px) {
  .room-container .room-box .room-layout .room-content .img-box .right {
    right: -10px;
  }
}
@media (max-width: 576px) {
  .room-container .room-box .room-layout .room-content .img-box .right {
    max-width: 85px;
  }
}
.room-container .pagination {
  text-align: center;
}
.room-container .pagination button {
  color: rgb(42, 42, 42);
  margin: 0 5px;
}
.room-container .pagination button:hover {
  cursor: pointer;
}
.room-container .pagination .none {
  opacity: 0.35;
}
.room-container .pagination .none:hover {
  cursor: default;
}

.current-users-container {
  padding-top: 10px;
  color: rgb(80, 80, 80);
  margin-right: auto;
  margin-left: 40px;
  max-height: 200px;
}
@media (min-width: 992px) {
  .current-users-container {
    flex: 1;
  }
}
@media (max-width: 991px) {
  .current-users-container {
    width: calc(100% - 25px);
    margin-left: auto;
  }
}
@media (max-width: 576px) {
  .current-users-container {
    max-height: 100px;
  }
}
.current-users-container .title p {
  font-size: 1.2rem;
  font-weight: bold;
}
@media (max-width: 576px) {
  .current-users-container .title p {
    font-size: 1rem;
  }
}
.current-users-container .content {
  margin-top: 10px;
  overflow-y: auto;
  border-radius: 10px;
  background-color: rgb(245, 245, 245);
  box-shadow: 0 0 0px 5px rgb(185, 159, 32);
  padding: 5px 7px;
  min-height: 100px;
  max-height: 300px;
}
@media (max-width: 576px) {
  .current-users-container .content {
    max-height: 100px;
  }
}
.current-users-container .content ul {
  list-style-type: none;
}
.current-users-container .content ul li {
  font-size: 0.9rem;
  padding-bottom: 4px;
  padding-top: 4px;
  float: left;
  margin-left: 5px;
}
.current-users-container .content ul li span {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  padding: 0 5px;
}
.current-users-container .content ul li:nth-child(odd) span {
  background-color: rgb(255, 229, 68);
}
.current-users-container .content ul li:nth-child(even) span {
  background-color: rgb(6, 229, 68);
}

@keyframes boxShadow {
  0% {
    box-shadow: 0px 0px 8px rgb(222, 237, 135);
  }
  50% {
    box-shadow: 0px 0px 8px rgba(69, 165, 233, 0.3);
  }
  100% {
    box-shadow: 0px 0px 8px rgb(208, 233, 69);
  }
}
@keyframes mover {
  0% {
    -o-border-image: linear-gradient(to right, rgb(5, 56, 97), rgb(139, 112, 47), rgb(43, 125, 141)) 6;
       border-image: linear-gradient(to right, rgb(5, 56, 97), rgb(139, 112, 47), rgb(43, 125, 141)) 6;
  }
  50% {
    -o-border-image: linear-gradient(to right bottom, rgb(139, 112, 47), rgb(43, 125, 141), rgb(5, 56, 97)) 6;
       border-image: linear-gradient(to right bottom, rgb(139, 112, 47), rgb(43, 125, 141), rgb(5, 56, 97)) 6;
  }
  100% {
    -o-border-image: linear-gradient(to right, rgb(5, 56, 97), rgb(139, 112, 47), rgb(43, 125, 141)) 6;
       border-image: linear-gradient(to right, rgb(5, 56, 97), rgb(139, 112, 47), rgb(43, 125, 141)) 6;
  }
}/*# sourceMappingURL=lobby.css.map */