$mainBg: rgb(94 139 149);
$light_yellow: rgb(234, 184, 56);
$text: rgb(198, 190, 149);
@import './rwd.scss';
@import './color.scss';

.lobby-container {
  display: flex;
  margin: 0 auto;
  user-select: none;
  width: calc(100% - 60px);
  max-width: 1400px;
  @include L {
    width: calc(100% - 15px);
  }
  @include med {
    flex-wrap: wrap;
    margin-top: 28px;
  }
  @include min-sm {
    margin-top: 17px;
  }
}

.room-container {
  padding: 17px 0;
  width: calc(100% - 15px);
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  @include min-med {
    flex: 3;
  }
  @include L {
    width: calc(100% - 10px);
  }
  @include sm {
    flex: unset;
    padding: 17px 10px;
  }

  .room-box {
    width: 50%;
    @include med {
      &:nth-child(even) {
        .room-layout {
          padding-left: 10px;
        }
      }
      &:nth-child(odd) {
        .room-layout {
          padding-right: 10px;
        }
      }
    }
    @include xs {
      &:nth-child(even) {
        .room-layout {
          padding-left: 0;
        }
      }
      &:nth-child(odd) {
        .room-layout {
          padding-right: 0;
        }
      }
    }

    &.exist {
      .room-layout,
      .room-layout:hover {
        .img-box {
          .right {
            transition: 0.4s;
          }
        }
      }
      .room-layout:hover {
        .room-content {
          cursor: pointer;
        }
        .img-box {
          .right {
            top: 35%;
            transform: rotate(5deg) translateY(-50%);
          }
        }
      }
    }

    flex-wrap: wrap;
    @include min-xl {
      width: 33.3%;
    }
    @include xs {
      width: 100%;
    }

    .room-layout {
      padding-left: 15px;
      margin-right: 10px;
      margin-bottom: 30px;
      @include med {
        padding-left: 0px;
        margin-right: 0px;
        margin-bottom: 15px;
      }
      .room-content {
        cursor: no-drop;
        position: relative;
        .content {
          position: absolute;
          left: 20px;
          top: 50%;
          transform: translateY(-50%);

          color: $text_default_title;
          max-width: 50%;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          @include sm {
            margin-top: 1px;
            font-size: 1rem;
          }
          .title {
            font-weight: bold;
            font-size: 1.3rem;
          }
          .soon {
            font-weight: 600;
            font-size: 1rem;
          }
          .players {
            margin-top: 8px;
            font-size: 0.8rem;
            letter-spacing: 5px;
            @include sm {
              margin-top: 1px;
            }
          }
          div {
            width: 100%;
          }
        }
        .img-box {
          background-color: white;
          border: 5px solid rgb(70, 70, 70);
          height: 80px;
          width: 100%;
          border-radius: 8px;
          @include sm {
            height: 70px;
          }
          .bg {
            // max-width: 269px;
            padding-right: 15px;
          }
          .right {
            position: absolute;
            transform: translateY(-50%);
            top: 50%;
            width: 100%;
            max-width: 100px;
            right: -10px;

            @include med {
              right: -10px;
            }
            @include sm {
              max-width: 85px;
            }
          }
          // position: absolute;
          // right: 0;
          // top: 0;
        }
      }
    }
  }
}

// user's list
.current-users-container {
  padding-top: 10px;
  color: $text_default_title;
  margin-right: auto;
  margin-left: 40px;
  max-height: 200px;

  @include min-L {
    flex: 1;
  }
  @include L {
    width: 100%;
    flex: 1;
    margin-left: auto;
  }

  @include sm {
    width: 100%;
    max-height: 100px;
  }
  .title {
    p {
      font-size: 1.2rem;
      font-weight: bold;
      @include sm {
        font-size: 1rem;
      }
    }
  }
  .content {
    overflow-y: auto;
    border-radius: 8px;
    background-color: rgb(245, 245, 245);
    border: 5px solid rgb(185, 159, 32);
    padding: 10px 15px;
    min-height: 100px;
    @include sm {
      max-height: 100px;
    }

    ul {
      list-style-type: none;
      margin-top: 5px;
      li {
        font-size: 0.9rem;
        margin-bottom: 8px;
        span {
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.12);
          border-radius: 8px;
          padding: 0 5px;
        }
        &:nth-child(odd) {
          span {
            background-color: rgb(255 229 68);
          }
        }
        &:nth-child(even) {
          span {
            background-color: rgb(6 229 68);
          }
        }
      }
    }
  }
}

@keyframes boxShadow {
  0% {
    box-shadow: 0px 0px 8px rgb(222, 237, 135);
  }
  50% {
    box-shadow: 0px 0px 8px rgba(69, 165, 233, 0.3);
  }
  100% {
    box-shadow: 0px 0px 8px rgba(208, 233, 69, 1);
  }
}

@keyframes mover {
  0% {
    border-image: linear-gradient(
        to right,
        rgb(5, 56, 97),
        rgba(139, 112, 47, 1),
        rgba(43, 125, 141, 1)
      )
      6;
  }
  50% {
    border-image: linear-gradient(
        to right bottom,
        rgba(139, 112, 47, 1),
        rgba(43, 125, 141, 1),
        rgba(5, 56, 97, 1)
      )
      6;
  }
  100% {
    border-image: linear-gradient(
        to right,
        rgb(5, 56, 97),
        rgba(139, 112, 47, 1),
        rgba(43, 125, 141, 1)
      )
      6;
  }
}
