$mainBg: rgb(94 139 149);
$light_yellow: rgb(234, 184, 56);
$text: rgb(198, 190, 149);
@import './rwd.scss';

.lobby-container {
  display: flex;
  margin: 0 auto;
  user-select: none;
  width: calc(100% - 60px);
  max-width: 1400px;
  overflow: hidden;
  @include L {
    width: calc(100% - 15px);
  }
  @include med {
    flex-wrap: wrap;
    margin-top: 28px;
  }
  @include min-sm {
    margin-top: 17px;
  }
}

.room-container {
  width: calc(100% - 15px);
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  @include min-med {
    flex: 3;
  }
  @include L {
    width: calc(100% - 10px);
  }
  @include sm {
    flex: unset;
  }

  .room {
    border-radius: 5px;
    transition: transform 0.2s;
    padding-bottom: 40px;

    @include min-med {
      margin-top: 50px;
      &:hover {
        transform: scale(1.05) translateY(-10px) rotate(1deg);
        transition: transform 0.2s;
      }
    }
    $imgborder: 0px;
    .room-layout {
      margin: 5px 25px 0 25px;
      @include med {
        margin: 5px 12px 0 12px;
      }
      box-shadow: 0px 0px 8px rgba(208, 233, 69, 0.8);
      animation: boxShadow 3s ease infinite;
      // margin: 50px;
    }

    .room-content {
      position: relative;
      border-radius: $imgborder;
      border: 8px solid transparent; /*2*/
      border-image: linear-gradient(
          to right,
          rgb(5, 56, 97),
          rgba(139, 112, 47, 1),
          rgba(141, 43, 125, 1)
        )
        6;
      animation: mover 3s ease infinite;
      @include sm {
        max-height: 300px;
        overflow: hidden;
      }
      .img-box {
        img {
          border-radius: $imgborder;
          transition: 0.4s;
          opacity: 0.9;
        }
      }
      .content {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 10px;
        width: 100%;
        .title {
          font-weight: bold;
          color: $text;
          text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
          margin-bottom: 8px;
          font-size: 1.3rem;
          text-align: center;
          text-transform: uppercase;
          @include xs {
            font-size: 1.1rem;
          }
        }
      }
    }
  }

  .room-box {
    @include med {
      &:nth-child(even) {
        .room-layout {
          padding-left: 5px;
        }
      }
      &:nth-child(odd) {
        .room-layout {
          padding-right: 5px;
        }
      }
    }
    width: 50%;
    cursor: no-drop;
    &.exist {
      cursor: pointer;
    }

    flex-wrap: wrap;
    @include min-xl {
      width: 33.3%;
    }

    .room-layout {
      padding-left: 15px;
      margin-right: 10px;
      margin-bottom: 30px;
      @include med {
        padding-left: 0px;
        margin-right: 0px;
      }
      .room-content {
        position: relative;
        .content {
          position: absolute;
          left: 20px;
          top: 50%;
          transform: translateY(-50%);
          font-size: 1.3rem;
          color: $text;
          max-width: 50%;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          @include sm {
            margin-top: 1px;
            font-size: 1rem;
          }
          .players {
            margin-top: 8px;
            font-size: 0.8rem;
            letter-spacing: 5px;
            @include sm {
              margin-top: 1px;
            }
          }
          div {
            width: 100%;
          }
        }
        .img-box {
          .bg {
            // max-width: 269px;
            padding-right: 15px;
          }
          .right {
            position: absolute;
            transform: translateY(-50%);
            right: -30px;
            top: 50%;
            width: 100%;
            max-width: 53%;

            @include min-xl {
              right: -22px;
            }
            @include med {
              right: -10px;
            }
          }
          // position: absolute;
          // right: 0;
          // top: 0;
        }
      }
    }
  }
}

.current-users-container {
  color: $text;
  margin-right: auto;
  margin-left: auto;
  max-height: 200px;
  overflow-y: auto;

  @include min-L {
    flex: 1;
  }
  @include L {
    width: 100%;
    flex: 1;
  }

  @include sm {
    width: 100%;
    max-height: 100px;
  }
  .content {
    border-radius: 8px;
    background-color: rgba($color: $mainBg, $alpha: 0.7);
    padding: 10px 15px;
    min-height: 200px;
    @include sm {
      max-height: 100px;
    }
  }
  p {
    font-size: 1.2rem;
    font-weight: bold;
    @include sm {
      font-size: 1rem;
    }
  }
  ul {
    list-style-type: none;
    margin-top: 5px;

    li {
      font-size: 0.9rem;
    }
  }
}

@keyframes boxShadow {
  0% {
    box-shadow: 0px 0px 8px rgb(222, 237, 135);
  }
  50% {
    box-shadow: 0px 0px 8px rgba(69, 165, 233, 0.3);
  }
  100% {
    box-shadow: 0px 0px 8px rgba(208, 233, 69, 1);
  }
}

@keyframes mover {
  0% {
    border-image: linear-gradient(
        to right,
        rgb(5, 56, 97),
        rgba(139, 112, 47, 1),
        rgba(43, 125, 141, 1)
      )
      6;
  }
  50% {
    border-image: linear-gradient(
        to right bottom,
        rgba(139, 112, 47, 1),
        rgba(43, 125, 141, 1),
        rgba(5, 56, 97, 1)
      )
      6;
  }
  100% {
    border-image: linear-gradient(
        to right,
        rgb(5, 56, 97),
        rgba(139, 112, 47, 1),
        rgba(43, 125, 141, 1)
      )
      6;
  }
}
