$mainBg: rgb(94 139 149);
$light_yellow: rgb(234, 184, 56);
$text: rgb(198, 190, 149);

.container {
  user-select: none;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.room-box {
  // flex-wrap: wrap;
  margin-top: 50px;
  .room {
    box-shadow: 0px 0px 8px rgba(208, 233, 69, 0.8);
    animation: boxShadow 3s ease infinite;
    max-width: calc(1400px / 4);
    width: 100%;
    cursor: pointer;
    margin: 15px;
    overflow: hidden;
    border-radius: 5px;
    transition: transform 0.2s;
    &:nth-child(1) {
      background-color: rgba(145, 127, 60, 0.833);
    }
    &:nth-child(2) {
      background-color: rgba(60, 145, 128, 0.833);
    }
    &:nth-child(3) {
      background-color: rgba(60, 86, 145, 0.833);
    }
    &:nth-child(4) {
      background-color: rgba(145, 60, 103, 0.833);
    }
    &:hover {
      transform: scale(1.05) translateY(-10px) rotate(1deg);
      transition: transform 0.2s;
    }
    $imgborder: 0px;
    .room-content {
      border-radius: $imgborder;
      border: 8px solid transparent; /*2*/
      border-image: linear-gradient(
          to right,
          rgb(5, 56, 97),
          rgba(139, 112, 47, 0.8),
          rgba(141, 43, 125, 0.8)
        )
        6;
      animation: mover 3s ease infinite;

      .img-box {
        img {
          border-radius: $imgborder;
          transition: 0.4s;
          // padding: 5px;
        }
      }
      .content {
        margin-top: 10px;
        .room-btn {
          margin: 0 auto;
          text-align: end;
          button {
            width: 100%;
            background: unset;
            border: unset;
            background-color: $mainBg;
            padding: 5px 10px;
            font-size: 1rem;
            border-radius: 4px;
            &:hover {
              // color: black;
              background-color: rgba($color: $light_yellow, $alpha: 0.8);
            }
          }
        }
        .title {
          font-weight: bold;
          color: $text;
          text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
          margin-bottom: 8px;
          font-size: 1.3rem;
          text-align: center;
          text-transform: uppercase;
        }
      }
    }
  }
}

.user-container {
  color: $text;
  padding: 20px;
  // margin-right: 30px;
  // margin-top: 5px;
  background-color: rgba(29, 39, 51, 0.8);
}

.current-users {
  margin-top: 20px;
  color: black;

  // margin-left: 30px;
  padding-left: 30px;
  .content {
    border-radius: 8px;
    background-color: rgba($color: $mainBg, $alpha: 0.6);
    padding: 20px 15px;
  }
  p {
    font-size: 1.2rem;
    font-weight: bold;
  }
  ul {
    margin-top: 5px;
    li {
      font-size: 1rem;
    }
  }
}

@keyframes boxShadow {
  0% {
    box-shadow: 0px 0px 8px rgba(208, 233, 69, 0.8);
  }
  50% {
    box-shadow: 0px 0px 8px rgba(69, 165, 233, 0.3);
  }
  100% {
    box-shadow: 0px 0px 8px rgba(208, 233, 69, 0.8);
  }
}

@keyframes mover {
  0% {
    border-image: linear-gradient(
        to right,
        rgb(5, 56, 97),
        rgba(139, 112, 47, 0.8),
        rgba(43, 125, 141, 0.8)
      )
      6;
  }
  50% {
    border-image: linear-gradient(
        to right bottom,
        rgba(139, 112, 47, 0.6),
        rgba(43, 125, 141, 0.6),
        rgba(5, 56, 97, 0.6)
      )
      6;
  }
  100% {
    border-image: linear-gradient(
        to right,
        rgb(5, 56, 97),
        rgba(139, 112, 47, 0.8),
        rgba(43, 125, 141, 0.8)
      )
      6;
  }
}
