@import './rwd.scss';
@import './color.scss';

@keyframes ani {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes ani_sm {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0px);
  }
}

#login {
  // width: 100vw;
  // height: 100vh;
  .login-container {
    width: calc(100% - 40px);
    margin: 0 auto;
    max-width: 800px;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    .title {
      width: calc(100% - 6px);
      margin: 0 auto;
      h1 {
        color: $text_default_title;
        font-size: clamp(2.2rem, 6vw, 3rem);
        text-align: center;
        .dot {
          color: $titlColor;
          animation: slash 1s infinite steps(20, end);
          font-size: 5rem;
          display: initial;
          line-height: 0;
        }
        .ani_ {
          position: relative;
          animation: ani 0.7s ease-in-out forwards;
          @include sm {
            animation: ani_sm 0.7s ease-in-out forwards;
          }
        }

        .ani_text {
          display: inline-block;
          &.space {
            width: 1rem;
            @include sm {
              width: 0.4rem;
            }
          }
        }
      }
    }

    .content {
      max-width: 500px;
      border: 10px rgba(235, 191, 60, 0.7) double;
      background-clip: padding-box;
      margin-top: 40px;
      margin-right: auto;
      margin-left: auto;
      background-color: rgba(247, 247, 247, 0.9);
      padding: 35px 15px;
      border-radius: 12px;
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
      text-align: center;

      &.flex {
        @include sm {
          flex-wrap: wrap;
        }
      }
      @include sm {
        padding: 20px 5px;
        max-width: calc(100% - 15px);
        margin: 40px auto 0 auto;
      }
      .login.btn {
        // margin-top: 30px;
        min-width: 70px;
        @include sm {
          margin-top: 15px;
          width: 100%;
        }
        button {
          width: 100%;
          color: rgb(44, 44, 44);
          background-color: #ebbf3c;
          height: 100%;
          border: unset;
          border-radius: 0 6px 6px 0;
          font-weight: bold;
          font-size: 1rem;
          cursor: pointer;
          @include sm {
            padding: 10px 2px;
            width: 90%;
            border-radius: 6px;
          }
        }
      }
      .input-box {
        font-size: 1.2rem;
        width: 90%;
        margin: 0 auto;

        input {
          box-shadow: inset 2px 2px 1px rgba(0, 0, 0, 0.2);
          font-size: 1.2rem;
          padding: 10px 10px 10px 15px;
          border-radius: 6px 0 0 6px;
          width: 100%;
          border: unset;
          letter-spacing: 1.5px;
          outline: none;
          box-sizing: border-box;
          &:focus {
            border: unset;
          }
          @include sm {
            border-radius: 6px;
          }
        }
      }
    }
  }
}

@keyframes flashing {
  0% {
    box-shadow: 0 0 20px 4px rgba(85, 81, 66, 0.5);
  }
  25% {
    box-shadow: 0 4px 1px rgba(85, 81, 66, 0.5);
  }
  50% {
    box-shadow: 0 8px 20px 4px rgba(85, 81, 66, 0.3);
  }
  75% {
    box-shadow: 0 10px 1px rgba(85, 81, 66, 0.2);
  }
  100% {
    box-shadow: 0 0 20px 4px rgba(85, 81, 66, 0.5);
  }
}
@keyframes slash {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
