@charset "UTF-8";
.move-out-enter-active,
.move-out-leave-active {
  transition: opacity 1s;
}
.move-out-enter-active .user-container .content,
.move-out-leave-active .user-container .content {
  transition: transform 3s;
}

.move-out-enter-from,
.move-out-leave-to {
  opacity: 0;
}
.move-out-enter-from .user-container .content,
.move-out-leave-to .user-container .content {
  transform: translateX(50px);
}

.connect-enter-active,
.connect-leave-active {
  transition: 2s ease;
}
.connect-enter-active .loading-box,
.connect-leave-active .loading-box {
  transition: 1s ease;
}

.connect-enter-from,
.connect-leave-to {
  opacity: 0;
}
.connect-enter-from#connect .loading-box,
.connect-leave-to#connect .loading-box {
  opacity: 0;
  transform: translate(-50%, -100px);
}

.login-enter-active,
.login-leave-active {
  transition: opacity 4s ease;
  transition-delay: 2s;
}
.login-enter-active .content,
.login-leave-active .content {
  transition: 2s ease;
  transition-delay: 2s;
}

.login-enter-from,
.login-leave-to {
  opacity: 0;
}
.login-enter-from .content,
.login-leave-to .content {
  opacity: 0;
  transform: translateY(50px);
}

.login-enter-to,
.login-leave-from {
  opacity: 1;
}
.login-enter-to .content,
.login-leave-from .content {
  opacity: 1;
  transform: translateY(0px);
}

.lobby-enter-active,
.lobby-leave-active {
  transition: opacity 4s ease;
}
.lobby-enter-active .content,
.lobby-leave-active .content {
  transition: transform 1s ease;
}

.lobby-enter-from,
.lobby-leave-to {
  opacity: 0;
}
.lobby-enter-from .content,
.lobby-leave-to .content {
  transform: translateX(50px);
}

.lobby-enter-to,
.lobby-leave-from {
  opacity: 1;
}
.lobby-enter-to .content,
.lobby-leave-from .content {
  transform: translateX(0px);
}

.content-ready-enter-active,
.content-ready-leave-active {
  transition: 2s ease;
  transition-delay: 1s;
}

.content-ready-enter-from,
.content-ready-leave-to {
  opacity: 0;
  transform: translateY(50px);
}

.content-ready-enter-to,
.content-ready-leave-from {
  opacity: 1;
  transform: translateY(0px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: block;
  -webkit-user-drag: none;
}

a {
  text-decoration: none;
}

html,
body {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

body {
  background-image: url("@/image/pc.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  font-family: "微軟正黑體", sans-serif;
}

.flex {
  display: flex;
}

.pd-side {
  padding-left: 15px;
  padding-right: 15px;
}

#connect {
  width: 100vw;
  height: 100vh;
  background-color: rgb(18, 63, 69);
  position: fixed;
  z-index: 100000000000000000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#connect .loading-box {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
}
#connect .loading-box h2 {
  color: white;
  font-size: 3rem;
}
#connect .loading-box span {
  color: white;
  font-size: 3rem;
  width: 100%;
  display: block;
  animation: ttt 1s infinite ease-in-out;
  overflow: hidden;
}

@keyframes ttt {
  from {
    width: 0;
  }
}/*# sourceMappingURL=main.css.map */