@import './color.scss';
@import './transition.scss';
@import './rwd.scss';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

.default {
  // background-image: url('@/image/pc.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgb(243 243 243);
}

.full_container {
  width: 100%;
  &.bg {
    height: 100vh;
    background-color: $bg_pevent;
    position: fixed;
    z-index: 999;
  }
}

.align_middle {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@keyframes open {
  to {
    display: block;
  }
}

.login_bd {
  overflow: hidden;
  display: grid;
  place-items: center;
  place-content: center;
  background-color: rgb(244, 244, 244);
  position: relative;
  height: 100%;

  &::after {
    border: 10px solid rgb(231, 231, 231);
    content: '';
    display: block;
    width: 90vw;
    max-width: 1100px;
    height: 80vh;
    max-height: 600px;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    position: fixed;
    border-radius: 5px;
    @include sm {
      top: 50%;
      height: 70vh;
    }
  }
}

.yellowCard {
  background-color: rgb(237 224 144);
  // background-image: linear-gradient(to bottom, #f0f190 0%, #f9d423 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  display: block;
  -webkit-user-drag: none;
}
a,
button {
  color: black;
}
button {
  border: unset;
}
a {
  text-decoration: none;
}

html,
body {
  user-select: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
  @media (max-height: 750px) {
    margin: 0 0 50px 0;
  }
}

.flex {
  display: flex;
  &.flex-wrap {
    flex-wrap: wrap;
  }
}

.in-flex {
  display: inline-flex;
}

.flex-2 {
  // flex-basis: 50%;
}

.pd_side {
  padding-left: 15px;
  padding-right: 15px;
}

.connected {
  position: fixed;
  right: 15px;
  bottom: 15px;
  color: $text;
  z-index: 99999999999999999;
}

@keyframes connect {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#connect {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: $bg_light, $alpha: 1);
  position: fixed;
  z-index: 900;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  display: grid;
  place-items: center;
  place-content: center;
  // animation: connect 0.4s ease forwards;
  &::before {
    content: '';
    --size: 250vmax;
    --bg-size: 200px;
    grid-area: body;
    inline-size: var(--size);
    block-size: var(--size);
    background-image: url('./../image/bg/icons_bg.svg');
    background-size: var(--bg-size);
    background-repeat: repeat;
    transform: rotate(45deg);
    opacity: 0.05;
    animation: login_bg 15s linear infinite;
    z-index: -3;
  }
  .loading-box {
    color: $text_default_title;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    h2 {
      word-break: keep-all;
    }
    h2,
    span {
      font-size: 3rem;
      @include xs {
        font-size: 1.8rem;
      }
    }
    span {
      width: 100%;
      display: block;
      animation: ttt 1s infinite ease-in-out;
      overflow: hidden;
    }
    p {
      margin-top: 15px;
      text-align: center;
    }
    .active {
      .flex {
        @include min-xs {
          padding-left: 50px;
        }
      }
      .ani {
        margin-top: 50px;
        position: relative;
        height: 65px;
        width: calc(371px / 5);
        background-image: url('./../../ui/loading.png');
        transform: perspective(500px);
        animation: load-ani 0.4s steps(5) infinite;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

@keyframes load-ani {
  from {
    background-position: 0;
  }
  to {
    background-position: 371px;
  }
}

.end.game {
  position: fixed;
  left: 15px;
  top: 15px;
  z-index: 999999;
  @include sm {
    left: 10px;
    top: 10px;
  }
  a {
    color: $text;
  }
}

.t-countdown {
  color: $text;
  position: fixed;
  right: 15px;
  bottom: 15px;
}

@keyframes ttt {
  from {
    width: 0;
  }
}
