.move-out-enter-active,
.move-out-leave-active {
  transition: opacity 1s;
  .user-container .content {
    transition: transform 3s;
  }
}

.move-out-enter-from,
.move-out-leave-to {
  opacity: 0;

  .user-container .content {
    transform: translateX(50px);
  }
}

/******
connect
*******/

// only transition on leave active moment
.connect-leave-active {
  transition: 1s ease;
}
.connect-enter-active {
  // transition: 1s ease;
}

.connect-enter-from,
.connect-leave-to {
  opacity: 0;
  &#connect {
    .loading-box {
      opacity: 0;
      transition: 2s ease;
      transform: translate(-50%, -100px);
    }
  }
}
/******
connect end
*******/

/******
login
*******/
.login-enter-active,
.login-leave-active {
  transition: opacity 2s ease;
  transition-delay: 1s;

  .content {
    transition: 1s ease;
    transition-delay: 1s;
  }
}

.login-enter-from,
.login-leave-to {
  opacity: 0;
  .content {
    opacity: 0;
    transform: translateY(50px);
  }
}
.login-enter-to,
.login-leave-from {
  opacity: 1;
  .content {
    opacity: 1;
    transform: translateY(0px);
  }
}
/******
login end
*******/

/******
lobby name
*******/

.lobby-leave-active {
  transition: 1s ease;
}
.lobby-enter-active {
  transition: 1s ease;
}

.lobby-enter-from,
.lobby-leave-to {
  opacity: 0;
  .content {
    transform: translateX(0px);
  }
}

/******
lobby name end
*******/

/******
content-ready
*******/

.content-ready-leave-active {
  transition: 1s ease;
}
.content-ready-enter-active {
  transition: 1s ease;
  transform: translateY(0px);
}

.content-ready-enter-from,
.content-ready-leave-to {
  opacity: 0;
  transform: translateY(50px);
}
/******
content-ready end
*******/

.move-up-enter-active {
  animation: move-up-in 0.5s;
}
.move-up-leave-active {
  animation: move-up-in 0.5s reverse;
}

.down {
  animation: anim-down 0.5s forwards;
}
.up {
  animation: anim-up 0.5s forwards;
}

@keyframes move-up-in {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  50% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes anim-up {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes anim-down {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0px);
  }
}
