.container {
  max-width: 1200px;
  width: 100%;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 576px) {
  .container {
    margin-top: 0px;
  }
}

.visible {
  visibility: hidden;
}

.side_menu {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 0 18px 18px 0;
  overflow: hidden;
}
.side_menu .items {
  width: 50px;
  height: 50px;
}
.side_menu .items .inner {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
}
.side_menu .items .inner .box {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-size: 1.8rem;
  color: white;
}
.side_menu .items .inner .box svg {
  filter: drop-shadow(-3px 1px 4px rgba(0, 0, 0, 0.3));
}
.side_menu .setting {
  background-color: rgb(194, 216, 239);
}
.side_menu .setting .inner {
  background-color: rgb(131, 212, 163);
}

.change_user_role {
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(63, 51, 10, 0.6);
  position: fixed;
  left: 0;
  top: 0;
}
.change_user_role .content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 530px;
  width: calc(100% - 30px);
  min-height: 200px;
  background-color: rgb(247, 247, 247);
  flex-wrap: wrap;
  padding: 15px 0;
  border-radius: 10px;
  border: 5px solid rgb(70, 70, 70);
}
.change_user_role .content .role {
  margin-bottom: 30px;
  margin-top: 15px;
}
.change_user_role .content .role img {
  max-width: 200px;
  width: calc(100% - 80px);
  margin: 0 auto;
}
.change_user_role .content .roles {
  max-width: 500px;
  width: calc(100% - 20px);
  margin: 0 auto;
}
@media (max-width: 576px) {
  .change_user_role .content .roles {
    width: calc(100% - 5px);
  }
}
.change_user_role .content .roles .img_content {
  width: 20%;
  padding: 15px;
}
.change_user_role .content .roles .img_content.focus .icon_box {
  border-color: red;
}
.change_user_role .content .roles .img_content.focus .icon_box img {
  opacity: 1;
}
@media (max-width: 576px) {
  .change_user_role .content .roles .img_content {
    width: 33.3%;
    padding: 5px;
  }
}
.change_user_role .content .roles .img_content .icon_box {
  cursor: pointer;
  border: 2px solid rgb(184, 189, 211);
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
  padding: 10px 5px;
}
.change_user_role .content .roles .img_content .icon_box img {
  opacity: 0.8;
  max-width: 45px;
  width: 100%;
  margin: 0 auto;
}
.change_user_role .content .btn {
  margin-top: 10px;
  width: 100%;
  text-align: center;
}
.change_user_role .content .btn button {
  padding: 10px 10px;
  border-radius: 10px;
  margin: 0 10px;
  border-width: 2px;
  border-style: solid;
  min-width: 70px;
  cursor: pointer;
}
.change_user_role .content .btn button.agree {
  background-color: #7ad97a;
  border-color: #54af54;
}
.change_user_role .content .btn button.cencel {
  border-color: rgb(203, 91, 91);
}

.player-container {
  max-width: 800px;
  margin: 0 auto;
  justify-content: center;
}
.player-container .player-box {
  display: flex;
}
@media (max-width: 991px) {
  .player-container .player-box {
    flex-wrap: wrap;
  }
}
@media (max-width: 576px) {
  .player-container .player-box {
    padding: 0 15px 15px 15px;
  }
}
.player-container .player-box .player-item {
  width: 100%;
  min-height: 50px;
  padding: 15px;
  margin-bottom: 15px;
}
@media (min-width: 769px) {
  .player-container .player-box .player-item {
    width: 25%;
  }
}
@media (max-width: 768px) {
  .player-container .player-box .player-item {
    width: 25%;
  }
}
@media (max-width: 576px) {
  .player-container .player-box .player-item {
    padding: 5px;
  }
}
@media (max-width: 399px) {
  .player-container .player-box .player-item {
    width: 33.3%;
  }
}
.player-container .player-box .player-item.self .info_box {
  color: #459fc3;
  font-size: 1.3rem;
}
.player-container .player-box .player-item .layout-inner {
  position: relative;
}
.player-container .player-box .player-item .layout-inner .icon_box {
  position: relative;
  min-height: 80px;
  margin-bottom: 15px;
}
@media (max-width: 576px) {
  .player-container .player-box .player-item .layout-inner .icon_box {
    margin-bottom: 5px;
  }
}
.player-container .player-box .player-item .layout-inner .icon_box img {
  vertical-align: bottom;
  max-width: 60px;
  margin: 0 auto;
}
.player-container .player-box .player-item .layout-inner .icon_box .bg_icon {
  position: relative;
  transform: translateY(55px);
  min-width: 100px;
}
@media (max-width: 399px) {
  .player-container .player-box .player-item .layout-inner .icon_box .bg_icon {
    min-width: 50px;
  }
}
.player-container .player-box .player-item .layout-inner .icon_box .user_icon {
  width: 100%;
  left: 50%;
  position: absolute;
  bottom: -30px;
  transform: translate(-50%, -50%);
  z-index: 1;
}
@media (max-width: 768px) {
  .player-container .player-box .player-item .layout-inner .icon_box .user_icon {
    bottom: -25px;
  }
}
@media (max-width: 576px) {
  .player-container .player-box .player-item .layout-inner .icon_box .user_icon {
    bottom: -25px;
  }
}
@media (max-width: 399px) {
  .player-container .player-box .player-item .layout-inner .icon_box .user_icon {
    bottom: -25px;
  }
}
.player-container .player-box .player-item .layout-inner .icon_box .user_icon img {
  max-width: 100px;
}
@media (max-width: 576px) {
  .player-container .player-box .player-item .layout-inner .icon_box .user_icon img {
    max-width: 80px;
  }
}
.player-container .player-box .player-item.empty .bg_icon {
  opacity: 0.5;
}
.player-container .player-box .player-item.empty .empty_box {
  transform: translateY(50px);
  color: #767676;
}
.player-container .player-box .player-item.empty .empty_box,
.player-container .player-box .player-item .info_box {
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}
@media (max-width: 576px) {
  .player-container .player-box .player-item.empty .empty_box,
  .player-container .player-box .player-item .info_box {
    margin-bottom: 20px;
  }
}

.back-container {
  height: 140px;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.back-container .back-btn {
  position: absolute;
  left: 0;
  top: 30px;
  margin-left: 25px;
  transform: translateY(-50%);
}
.back-container .back-btn a {
  color: rgb(80, 80, 80);
  font-weight: bold;
  align-items: center;
  font-size: 1rem;
}
.back-container .back-btn a p {
  margin-left: 5px;
}
.back-container .room-box {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  margin-top: 10px;
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  color: rgb(80, 80, 80);
  text-shadow: 3px 2px 1px rgba(2, 29, 29, 0.2);
}
@media (max-width: 576px) {
  .back-container .room-box {
    font-size: 2rem;
  }
}
.back-container .room-box h2 {
  font-size: 2.5rem;
}
@media (max-width: 576px) {
  .back-container .room-box h2 {
    font-size: 2rem;
  }
}

.active-container {
  text-align: center;
  margin-top: 30px;
  width: 100%;
}
@media (max-width: 576px) {
  .active-container {
    margin-top: 0px;
  }
}
.active-container .ready-box .ready-content {
  max-width: 150px;
  width: 100%;
  margin: 0 auto;
  background-size: 400% 400%;
}
.active-container .ready-box .ready-content .ready-btn {
  cursor: pointer;
  border-radius: 18px;
  box-shadow: 0 0 4px rgb(118, 168, 118);
  font-weight: bold;
  font-size: clamp(1.2rem, 1.5vw, 2rem);
  color: white;
  text-transform: uppercase;
  padding: 10px;
  background-clip: border-box;
}
.active-container .ready-box .ready-content .ready-btn.ready {
  background-color: rgb(118, 168, 118);
}
.active-container .ready-box .ready-content .ready-btn.cancel {
  background-color: rgba(172, 59, 59, 0.9);
}
.active-container .count-down {
  margin-bottom: 10px;
  margin-top: 10px;
}
.active-container .count-down span {
  color: #f57d7d;
  font-weight: bold;
}

.start-game {
  z-index: 30;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(18, 63, 69, 0.9);
}
.start-game .start-layout {
  width: 100%;
  height: 300px;
  background-color: rgba(4, 23, 49, 0.443);
  position: relative;
  top: 40%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
}
.start-game .start-layout .content {
  margin: 0 auto;
  text-align: center;
  color: white;
}
.start-game .start-layout .content button {
  position: relative;
  border: none;
  padding: 15px;
  margin: 0 auto;
  cursor: pointer;
  background-color: rgb(118, 168, 118);
  padding: 10px 15px;
  border-radius: 4px;
  border: unset;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 50px;
  box-shadow: 4px 4px 8px rgba(2, 29, 29, 0.4);
}
.start-game .start-layout .content button::after, .start-game .start-layout .content button::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -5;
  animation: moving 1.2s infinite;
  border-radius: 4px;
  background-color: rgb(118, 168, 118);
}
.start-game .start-layout .content button::before {
  animation-delay: 0.2s;
}

@keyframes clipAni {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}
@keyframes filterBgAni {
  0% {
    filter: drop-shadow(0px 0px 6px rgba(255, 214, 34, 0.6));
  }
  50% {
    filter: drop-shadow(0px 0px 2px rgba(255, 214, 34, 0.2));
  }
  100% {
    filter: drop-shadow(0px 0px 6px rgba(255, 214, 34, 0.6));
  }
}
@keyframes moving {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 1;
  }
  80% {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0);
  }
}/*# sourceMappingURL=waitRoom.css.map */