.container {
  max-width: 1200px;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.player-container {
  max-width: 800px;
  margin: 0 auto;
}
@media (max-width: 576px) {
  .player-container {
    flex-wrap: wrap;
  }
}
.player-container .player-box {
  margin: 0 auto;
  width: 100%;
  max-width: 320px;
}
.player-container .player-box .player-item {
  margin-bottom: 10px;
  height: 120px;
  position: relative;
}
.player-container .player-box .player-item .layout {
  width: 100%;
  height: 100%;
  background-image: url("./../image/bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.player-container .player-box .player-item .layout.empty {
  background-image: url("./../image/waitBg.png");
}
.player-container .player-box .player-item .layout-inner {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.player-container .player-box .player-item .layout-inner .icon-box {
  width: 120px;
  min-width: 120px;
  transform: translate(-30px, -10px);
}
.player-container .player-box .player-item .layout-inner .name-box {
  width: calc(100% - 120px);
  align-items: center;
  transform: translateX(-30px);
  color: rgb(47, 47, 47);
  font-weight: bold;
  font-size: 1.2rem;
}
.player-container .player-box .player-item .layout-inner .name-box p {
  overflow: hidden;
  text-overflow: ellipsis;
}
.player-container .leader-box {
  width: 100%;
}
.player-container .leader-box .leader-item {
  position: relative;
  max-width: 380px;
  width: 100%;
  height: 100%;
  background-image: url("./../image/leader.png");
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0 auto;
}
.player-container .leader-box .leader-item .icon-box {
  width: 100%;
  padding-top: 30px;
}
.player-container .leader-box .leader-item .icon-box img {
  max-width: 230px;
  margin: 0 auto;
}
.player-container .leader-box .leader-item .name-box {
  color: rgb(47, 47, 47);
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}
.player-container .leader-box .leader-item .name-box p {
  max-width: 75%;
  margin: 0 auto;
  overflow: hidden;
  text-overflow: ellipsis;
}

.back-container {
  height: 140px;
  max-width: 1200px;
  background-image: url("./../image/top_ui.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 0 auto;
  position: relative;
}
@media (max-width: 576px) {
  .back-container {
    height: 180px;
  }
}
.back-container .back-btn {
  position: absolute;
  left: 0;
  top: 25px;
  margin-left: 15px;
  transform: translateY(-50%);
}
.back-container .back-btn a {
  color: rgb(198, 190, 149);
  font-weight: bold;
  align-items: center;
  font-size: 1.2rem;
  text-shadow: 2px 1px 2px rgb(157, 133, 101);
}
.back-container .back-btn a p {
  margin-left: 5px;
}
.back-container .room-box {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 10px;
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 2.5rem;
  color: #ccae73;
  -webkit-text-stroke: 4px #ccae73;
  text-shadow: 5px 5px 0 rgb(2, 29, 29), -1px -1px 0 rgb(2, 29, 29), 5px 7px 0 rgb(2, 29, 29), 8px 5px 0 rgb(2, 29, 29), 10px 10px 0 rgb(2, 29, 29);
}

.active-container {
  text-align: center;
  margin-top: 80px;
  width: 100%;
  height: 100%;
}
.active-container .ready-box {
  filter: drop-shadow(0px 0px 6px rgb(255, 214, 34));
  animation: filterBgAni 2s infinite;
}
.active-container .ready-box .ready-content {
  -webkit-clip-path: polygon(25% 0%, 75% 0%, 95% 25%, 85% 100%, 15% 100%, 5% 25%);
          clip-path: polygon(25% 0%, 75% 0%, 95% 25%, 85% 100%, 15% 100%, 5% 25%);
  background: linear-gradient(90deg, #e66465, #55ac38, #9885ce, #ddd252, #3ecee8, #e83ec6);
  max-width: 250px;
  width: 100%;
  margin: 0 auto;
  animation: clipAni 6s infinite;
  background-size: 400% 400%;
}
.active-container .ready-box .ready-content .ready-btn {
  cursor: pointer;
  box-shadow: 0 0 4px black;
  font-weight: bold;
  font-size: 2rem;
  color: white;
  text-transform: uppercase;
  padding: 10px;
  background-clip: border-box;
  -webkit-clip-path: polygon(25% 10%, 75% 10%, 91% 29%, 84% 91%, 16% 91%, 9% 29%);
          clip-path: polygon(25% 10%, 75% 10%, 91% 29%, 84% 91%, 16% 91%, 9% 29%);
}
.active-container .ready-box .ready-content .ready-btn.ready {
  background-color: rgb(22, 80, 116);
}
.active-container .ready-box .ready-content .ready-btn.cancel {
  background-color: rgba(172, 59, 59, 0.9);
}
.active-container .count-down {
  color: white;
  margin-bottom: 20px;
}

.start-game {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(18, 63, 69, 0.9);
}
.start-game .start-layout {
  width: 100%;
  height: 300px;
  background-color: rgba(4, 23, 49, 0.443);
  position: relative;
  top: 40%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
}
.start-game .start-layout .content {
  margin: 0 auto;
  text-align: center;
  color: white;
}
.start-game .start-layout .content button {
  position: relative;
  border: none;
  padding: 15px;
  margin: 0 auto;
  cursor: pointer;
  background-color: rgb(118, 168, 118);
  padding: 10px 15px;
  border-radius: 4px;
  border: unset;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 50px;
  box-shadow: 4px 4px 8px rgba(2, 29, 29, 0.4);
}
.start-game .start-layout .content button::after, .start-game .start-layout .content button::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -5;
  animation: moving 1.2s infinite;
  border-radius: 4px;
  background-color: rgb(118, 168, 118);
}
.start-game .start-layout .content button::before {
  animation-delay: 0.2s;
}

@keyframes clipAni {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}
@keyframes filterBgAni {
  0% {
    filter: drop-shadow(0px 0px 6px rgba(255, 214, 34, 0.6));
  }
  50% {
    filter: drop-shadow(0px 0px 2px rgba(255, 214, 34, 0.2));
  }
  100% {
    filter: drop-shadow(0px 0px 6px rgba(255, 214, 34, 0.6));
  }
}
@keyframes moving {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 1;
  }
  80% {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0);
  }
}/*# sourceMappingURL=waitRoom.css.map */