@import './color.scss';
@import './rwd.scss';
.container {
  max-width: 1200px;
  width: 100%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  @include sm {
    margin-top: 0px;
  }
  // position: absolute;
  // left: 50%;
  // top: 50%;
  // transform: translate(-50%, -50%);
}

.leader-box,
.player-box {
  width: 100%;
  max-width: 380px;
  margin: 0 auto;
  padding: 0 5px;
}

.change_user_role {
  width: 100%;
  height: 100%;
  background-color: rgba(63, 51, 10, 0.6);
  position: fixed;
  left: 0;
  top: 0;
  .content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 530px;
    width: calc(100% - 30px);
    min-height: 200px;
    background-color: $bg_light;
    flex-wrap: wrap;
    padding: 15px 0;
    border-radius: 10px;
    border: 5px solid $border_style_dark;
    .role {
      margin-bottom: 15px;
      img {
        max-width: 200px;
        width: calc(100% - 80px);
        margin: 0 auto;
      }
    }
    .roles {
      max-width: 500px;
      width: calc(100% - 20px);
      // background-color: rgb(42, 89, 110);
      margin: 0 auto;
      .img_content {
        width: 20%;
        // border: 1px solid black;
        padding: 15px;
        @include sm {
          width: 33.3%;
        }
        .icon_box {
          cursor: pointer;
          border: 2px solid rgb(95 100 121);
          background-color: rgb(240, 240, 240);
          border-radius: 10px;
          padding: 10px 5px;
          img {
            max-width: 45px;
            width: 100%;
            margin: 0 auto;
          }
        }
      }
    }
    .btn {
      margin-top: 10px;
      width: 100%;
      text-align: center;
      button {
        padding: 10px 10px;
        border-radius: 10px;
        margin: 0 10px;
        border-width: 2px;
        border-style: solid;
        min-width: 70px;
        cursor: pointer;
        &.agree {
          background-color: #7ad97a;
          border-color: #54af54;
        }
        &.cencel {
          border-color: rgb(203, 91, 91);
        }
      }
    }
  }
}

.player-container {
  max-width: 800px;
  margin: 0 auto;
  @include sm {
    flex-wrap: wrap;
  }

  .player-box .player-item,
  .leader-box .leader-item {
    position: relative;
    background-color: rgb(241, 241, 241);
    border-radius: 7px;
    @include sm {
      margin-bottom: 5px;
    }
  }

  .player-box {
    .player-item {
      height: 120px;
      border: 5px solid $border_style_lightDark;
      @include sm {
        height: 80px;
      }
      &:nth-child(1),
      &:nth-child(2) {
        @include min-sm {
          margin-bottom: 10px;
        }
      }
      &.empty {
        opacity: 0.2;
      }
      .layout-inner {
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        .icon-box {
          img {
            margin: 0 auto;
          }
          flex: 1.5;
          @include min-sm {
            img {
              width: 100px;
            }
            transform: translate(-30px, -10px);
          }
          @include med {
            transform: translate(0px, 0px);
          }
          @include min-med {
            img {
              width: 120px;
            }
          }
          @include sm {
            img {
              width: 70px;
            }
          }
        }
        .name-box {
          width: 100%;
          align-items: center;
          flex: 2;
          font-size: 1.2rem;
          @include sm {
            font-size: 1rem;
          }
          @include min-med {
            transform: translateX(-30px);
            width: calc(100% - 120px);
          }
          p {
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }

  .name-box {
    color: rgb(47, 47, 47);
    font-weight: bold;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  }

  .leader-box {
    .leader-item {
      height: 100%;
      border: 5px solid #ccae73;
      background-color: wheat;
      @include sm {
        display: flex;
        background-color: white;
        // background-image: url('./../image/leader_mb.png');
        height: 80px;
      }
      .icon-box {
        width: 100%;

        img {
          max-width: 230px;
          width: 100%;
          margin: 0 auto;
          @include sm {
            width: 70px;
          }
        }
        @include min-sm {
          padding-top: 30px;
        }
        @include sm {
          // padding: 15px 0;
          flex: 1.5;
        }
      }
      .name-box {
        font-size: 2rem;
        @include sm {
          flex: 2;
          font-size: 1rem;
          padding: 15px 0;
          display: flex;
          align-items: center;
        }
        p {
          max-width: 75%;
          overflow: hidden;
          text-overflow: ellipsis;

          @include min-sm {
            text-align: center;
            margin: 0 auto;
          }
        }
      }
    }
    .setting {
      cursor: pointer;
      position: absolute;
      right: 5px;
      top: 0;
      color: rgb(88, 88, 88);
    }
  }
}

.back-container {
  height: 140px;
  max-width: 1200px;
  // background-image: url('./../image/top_ui.png');
  // background-size: 100% 100%;
  // background-repeat: no-repeat;
  margin: 0 auto;
  position: relative;
  @include sm {
    // height: 160px;
  }
  .back-btn {
    position: absolute;
    left: 0;
    top: 30px;
    margin-left: 25px;
    transform: translateY(-50%);
    a {
      color: $text_default_title;
      font-weight: bold;
      align-items: center;
      font-size: 1rem;
      p {
        margin-left: 5px;
      }
    }
  }

  .room-box {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    margin-top: 10px;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;

    color: $text_default_title;
    // -webkit-text-stroke: 4px $titlColor;
    text-shadow: 3px 2px 1px rgba($color: $shadowcolor, $alpha: 0.2);

    @include sm {
      font-size: 2rem;
    }
    h2 {
      font-size: 2.5rem;
      @include sm {
        font-size: 2rem;
      }
    }
  }
}

.active-container {
  text-align: center;
  margin-top: 30px;
  width: 100%;
  height: 100%;
  @include sm {
    margin-top: 0px;
  }
  .ready-box {
    // filter: drop-shadow(0px 0px 6px $agree);
    // animation: filterBgAni 2s infinite;
    .ready-content {
      // background-color: rgb(219, 29, 29);
      // clip-path: polygon(25% 0%, 75% 0%, 95% 25%, 85% 100%, 15% 100%, 5% 25%);
      // background: linear-gradient(
      //   90deg,
      //   #e66465,
      //   #55ac38,
      //   #9885ce,
      //   #ddd252,
      //   #3ecee8,
      //   #e83ec6
      // );
      max-width: 250px;
      width: 100%;
      margin: 0 auto;
      // animation: clipAni 6s infinite;
      background-size: 400% 400%;

      .ready-btn {
        cursor: pointer;
        // transform: scale(0.9);
        border: 5px solid black;
        box-shadow: 0 0 4px $agree;
        font-weight: bold;
        font-size: 2rem;
        color: white;
        text-transform: uppercase;
        padding: 10px;
        background-clip: border-box;
        clip-path: polygon(
          25% 15%,
          75% 10%,
          85% 29%,
          84% 85%,
          16% 91%,
          15% 29%
        );
        &.ready {
          background-color: $agree;
        }
        &.cancel {
          background-color: rgba(172, 59, 59, 0.9);
        }
      }
    }
  }

  .count-down {
    color: white;
    margin-bottom: 10px;
    margin-top: 10px;
    &.visible {
      visibility: hidden;
    }
    span {
      color: #f57d7d;
      font-weight: bold;
    }
  }
}

.start-game {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba($color: $mainColor, $alpha: 0.9);
  // background: none;
  .start-layout {
    width: 100%;
    height: 300px;
    background-color: rgba(4, 23, 49, 0.443);
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;

    .content {
      margin: 0 auto;
      text-align: center;
      color: white;
      button {
        position: relative;
        border: none;
        padding: 15px;
        margin: 0 auto;
        cursor: pointer;
        background-color: $agree;
        padding: 10px 15px;
        border-radius: 4px;
        border: unset;
        font-size: 1rem;
        font-weight: bold;
        margin-top: 50px;
        box-shadow: 4px 4px 8px rgba($color: $shadowcolor, $alpha: 0.4);
        &::after,
        &::before {
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          z-index: -5;
          animation: moving 1.2s infinite;
          border-radius: 4px;
          background-color: $agree;
        }
        &::before {
          animation-delay: 0.2s;
        }
      }
    }
  }
}

@keyframes clipAni {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}

@keyframes filterBgAni {
  0% {
    filter: drop-shadow(0px 0px 6px rgba(255, 214, 34, 0.6));
  }
  50% {
    filter: drop-shadow(0px 0px 2px rgba(255, 214, 34, 0.2));
  }
  100% {
    filter: drop-shadow(0px 0px 6px rgba(255, 214, 34, 0.6));
  }
}

@keyframes moving {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 1;
  }
  80% {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0);
  }
}
