@import './rwd.scss';

$yellowCard: #d5a32e;
$yellowCardLight: #e9b844;
$true: rgb(62, 189, 102);

#player_list {
  margin-bottom: 50px;
  color: white;
  .title {
    margin: 0 10px;
  }
  .items {
    display: flex;
    text-align: center;
    .item {
      margin: 5px 10px;
    }
  }
}

h1 {
  color: white;
}
.move_btn {
  color: white;
}
#await {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: calc(100% - 50px);
  width: 100%;
  margin: 0 auto;
  @include min-med {
    max-width: calc(100% - 200px);
  }
  @include xs {
    max-width: calc(100% - 15px);
  }
  &::v-deep(.insert) {
    color: rgb(215, 57, 49);
  }
  .content {
    padding: 25px 0;
    border-radius: 8px;
    font-size: clamp(1.4rem, 3vw, 2.2rem);
    background-color: $yellowCardLight;
    text-align: center;
    font-weight: bold;
  }
  .text {
    font-size: 1.4rem;
    margin-top: 5vh;
    color: white;
    text-align: center;

    span {
      position: absolute;
      &::after {
        content: '...';
        display: block;
        width: 0%;
        overflow: hidden;
        animation: loading 1s infinite ease-in-out;
      }
    }
  }
}

.active {
  animation: upin 1s forwards;
}

#vote {
  margin: 0 auto;
  width: 100%;
  max-width: 500px;

  .item {
    padding: 10px 15px;
    margin: 10px 10px;
    font-size: 1.2rem;
    border-radius: 8px;
    transition: 0.2s ease-in-out;
    @include sm {
      margin: 10px 15px;
    }
    @include xs {
      margin: 15px 20px;
    }
    &.check {
      background-color: $yellowCard;
      font-weight: bold;
      box-shadow: 5px 5px 1px #6d5317;
      transform: translate(-1px, -4px);
    }
    &.default {
      background-color: white;
    }
  }
  .btn-box {
    margin-top: 30px;
    text-align: center;
    .btn {
      padding: 10px 30px 10px 33px;
    }
  }
}
#hand-card,
#drop {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  .btn-box {
    margin-top: 50px;
    padding: 0 50px;

    &.flex {
      flex-wrap: wrap;
    }
    .btn {
      width: 100%;

      @include min-xs {
        flex: 1;
        &:first-child {
          flex: 2;
        }
      }
    }
  }
  .conetnt.flex {
    flex-wrap: wrap;
  }
  .card.item {
    text-align: center;
    width: 50%;
    @include min-sm {
      width: 33%;
    }
    @include xs {
      width: 100%;
    }
    @include sm {
      &:nth-child(odd) {
        .option {
          margin: 5px 5px 5px 15px;
        }
      }
      &:nth-child(even) {
        .option {
          margin: 5px 15px 5px 5px;
        }
      }
    }
    @include xs {
      &:nth-child(odd),
      &:nth-child(even) {
        .option {
          margin: 5px 20px;
        }
      }
    }
    .option {
      border-radius: 6px;
      padding: 10px 0;
      margin: 5px 5px;
      background-color: $yellowCard;
      position: relative;
      transition: 0.2s ease-in-out;

      @include sm {
        padding: 4px 0;
      }
      @include xs {
        padding: 10px;
      }
      &.selected {
        font-weight: bold;
        background-color: $yellowCardLight;
        box-shadow: 4px 4px 1px #6d5317;
        transform: translate(-1px, -4px);
      }
      .num {
        display: flex;
        width: 30px;
        height: 30px;
        background-color: $true;
        border-radius: 100%;
        position: absolute;
        right: -5px;
        top: -5px;
        align-items: center;
        justify-content: center;
        line-height: 0;
        box-shadow: 2px 2px 1px rgb(34, 102, 56);
      }
    }
  }
}

#quest {
  min-height: 80px;
  margin: 5px 5px 15px 5px;
  color: white;
  font-size: clamp(1.4rem, 3vw, 2.2rem);
  @include sm {
    margin: 5px 5px 15px 15px;
  }
  @include xs {
  }
  &::v-deep(.insert) {
    color: rgb(243, 225, 64);
  }
}
#quest,
#await {
  &::v-deep(.insert) {
    font-weight: bold;
    padding: 0 5px;
  }
}

// global
.btn-box {
  .btn {
    border-radius: 8px;
    margin: 5px;
    padding: 10px 6px 10px 10px;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.3rem;
    border: white 5px solid;
    transition: 0.6s border, 0.6s background-color;

    &.selected {
      animation: flips 1s forwards;
      background-color: $true;
      border-color: rgba(255, 223, 128, 0.12);
    }
  }
}

@keyframes flips {
  0% {
    transform: rotate3d(1, 0, 0, 0deg);
  }
  100% {
    transform: rotate3d(1, 0, 0, 360deg);
  }
}

@keyframes loading {
  100% {
    width: 100%;
  }
}

@keyframes upin {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
